#mapid {
  height: 800px;
  float: left;
  width: 50%;
  border-radius: 3%;
 }

h1 {
  text-align: center;
}

#back-button {
  float: left;
  margin-top: 50%;
}


#report-index {
  height: 800px;
  float: left;
  width: 50%;
  border-radius: 3%;
  background-color: grey;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#login-field {
  margin-left: 46.5%;
  margin-right:46%;
  padding: 10px;
}

#login-btn{
  margin-left: 49%;
  margin-right:50%;
  margin-top: 20px;
  padding: 10px;


}
