.main-container{
  position: relative;
}

.globe-container{
  position: fixed;
}

/* .content-container{
  position: absolute;
  top:0;
  z-index: 1;
} */

#mapid {
  height: 800px;
  float: left;
  width: 48%;
  border-radius: 3%;
 }

h1 {
  text-align: center;
}

#back-button {
  float: left;
  margin-top: 50%;
}
.field {
  position: relative;

}
#login-field {
  position: fixed;
}
#login-btn {
  position: relative;
}

#report-index {
  margin-left: 5%;
  height: 800px;
  float: left;
  width: 45%;
  border-radius: 3%;
  background-color: grey;
  opacity: 0.8;

}

#report-ul{
  display: flex;
 flex-flow: wrap;
 text-align: center;
 width: 80%;
 margin-left: 10%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  /* position: absolute; */
}

#login-field {
  margin-left: 42%;
  margin-right:46%;
  padding: 10px;
}

#login-btn{
  margin-left: 48%;
  margin-right:50%;
  margin-top: 20px;
  padding: 10px;


}

#nextBtn {
  visibility: visible;
}

#nextBtn {
  visibility: visible;
}
